<header>
  <mat-toolbar color="primary">
    <div class="logo-title">
      <img src="assets/logo.svg" alt="website logo" class="logo" />
      <span>My app</span>
    </div>
    <nav class="routes">
      <a
        class="route"
        *ngFor="let route of routes"
        [routerLink]="route.path"
        routerLinkActive="active"
      >
        {{ route.name | titlecase }}
      </a>
      <div *ngIf="isLogged" class="auth-container">
        <span class="username">Hi, {{ username }}</span>
        <button mat-icon-button (click)="logout()">
          <mat-icon
            matTooltip="Logout"
            matTooltipPosition="left"
            aria-hidden="false"
            aria-label="Exit door for logout purpose"
            fontIcon="exit_to_app"
          ></mat-icon>
        </button>
      </div>
    </nav>
  </mat-toolbar>
</header>
